extends layout

block content
	.container
		h1 About Us
		p.
			Don’t get fouled by the name. I Shot
			Him is not a violent or gory website.
			It’s actually a creative studio
			located in San Francisco.
		ul
			li Samsung
			li Apple
			li Lenovo
			li Lava
		p.
			If you make your living doing freelance work, then you know how important it is to not only sell people on your talent, skills, and resume, but also on who you are.