extends layout

block content	
	.jumbotron
		.container
			h1 How May I Help You ?
			p.
				I would like to get better with Node.Js,
				Angular JS and Mongo DB and Express 
				JS as well
			a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p.
					Use this document as a way to quickly start
					any new project.All you get is this text
					and a mostly barebones HTML document.
				a.btn.btn-default(href="#") View Details
			.col-md-4
				h2 Services
				p.
					Use this document as a way to quickly start
					any new project.All you get is this text
					and a mostly barebones HTML document.
				a.btn.btn-default(href="#") View Details
			.col-md-4
				h2 Get In Touch
				p.
					Use this document as a way to quickly start
					any new project.All you get is this text
					and a mostly barebones HTML document.
				a.btn.btn-default(href="#") View Details